extends layout

block content
    .main
        .row
            .col-lg-6.offset-lg-3.col-md-8.offset-md-2
                div.card.shadow
                    div.card-header
                        span #{title}
                    div.card-body
                        form(method='POST' action='/edit')
                            div.form-group
                                label(for='linkname') Name
                                input#linkname.form-control(
                                type='text',
                                name='linkname'
                                value= linkname,
                                )
                            div.form-group
                                label(for='dest') Destination
                                input#dest.form-control(
                                type='text',
                                value= old_dest,
                                name= "dest"
                                )
                            div.form-group
                                label(for='author') Owner
                                input#author.form-control(
                                type='text',
                                value= author,
                                name="author",
                                disabled="true")
                            if editable
                                button.btn.btn-primary(type='submit', value='Submit') Submit
                            if !loggedIn && !editable && author == 'anonymous'
                                a.btn.btn-primary(href='/login') Log In to Edit
