extends layout

block content
  .main.d-flex.flex-column.justify-content-center.h-100
    .row
      .col-lg-6.offset-lg-3.col-md-8.offset-md-2
        div.card.shadow
          div.card-header
            span #{title}
          div.card-body
            form.p-2(method='POST' action='/edit')
              div.form-group
                label(for='dest') Long Url
                input#dest.form-control(
                type='text',
                value= old_dest,
                name= "dest"
                )
              div.form-group
                label(for='linkname') Short Url
                input#linkname.form-control(
                type='text',
                name='linkname'
                placeholder= "#{siteHost}/[ShortUrl]"
                value= siteHost + "/" + linkname,
                )

              .qr-code-section.d-flex.my-2
                div
                  img#qr_code.border.w-100.h-100(src='/qr/fake_qr.png')
                div
                  .m-2
                    div.mb-1.mr-2
                      input#qrcode_caption.form-control(
                        type='text',
                        placeholder='add a description'
                      )
                    div.mb-1
                      span
                        small 20 character or less
                    div.my-1.form-check.mt-1
                      input#qrcode_logo.form-check-input(
                        type='checkbox'
                        name='qrcode_logo',
                      )
                      label.ml-2.form-check-label(for='qrcode_logo') Add Zaigeaigu logo
                      
              div.form-group
                label(for='author') Owner (Login to Claim Ownership)
                input#author.form-control(
                type='text',
                value= author,
                name="author",
                disabled="true")
              if editable
                button.btn.btn-primary.right(type='submit', value='Submit') Submit
              if !loggedIn && !editable && author == 'anonymous'
                a.btn.btn-primary(href='/login') Log In to Edit
