extends layout

block content

  if (links.length)
    table.table.table-light.rounded(style="width: 100%")
      thead
        tr
          th Link Name
          th Destination
          th Page Views
          th Owner
          th Action
      tbody
        each link in links
          tr
            td
              a(href=link['linkname']) #{link['linkname']}
            td(style="word-break:break-all")
              a(href=link['dest'] style="word-break") #{link['dest']}
            td
              a(href='/dashboard/' + link['linkname'] style="word-break") #{link['pageViews'] || 0}
            td
              | #{link['author']}
            td
              if link['author'] === 'anonymous'
                a.btn.btn-success.btn-outline(href="/edit/" + link['linkname']) 认领
              else
                a.btn.btn-primary.btn-outline(href="/edit/" + link['linkname']) 编辑



  else
    h1 You don't have any links
  a.btn.btn-primary(href="/edit") Create More