extends layout

block content
  .main.d-flex.flex-column.justify-content-center.h-100
    .row
      .col-lg-6.offset-lg-3.col-md-8.offset-md-2
        div.card.shadow
          div.card-header.bg-light.border-bottom-0.text-center
            h5
              i.fas.fa-check-circle.text-lg.pr-2.text-success
              span #{title}
          div.card-body.bg-light.pt-0
            form.p-2(method='POST' action='/edit')
              div.form-group
                label(for='dest') Long Url
                .input-group
                  input#dest.form-control(
                  type='text',
                  value= old_dest,
                  name= "dest"
                  disabled
                  )
                  .input-group-append
                    button#btn_updatet_short_url.btn.btn-outline-secondary(type='button')
                      i.fas.fa-pen
              div.form-group
                label(for='linkname') Short Url
                .input-group
                  input#linkname.text-primary.form-control(
                  type='text',
                  name='linkname'
                  disabled
                  placeholder= "#{siteHost}/[ShortUrl]"
                  value= siteHost + "/" + linkname,
                )
                  .input-group-append
                    button#btn_copy_short_url.btn.btn-outline-secondary(type='button')
                      i.fas.fa-clipboard(style="width:16px")

              .qr-code-section.d-flex.my-2
                div
                  img#qr_code.border(src='/qr/fake_qr.png')
                div.ml-3.flex-grow-1
                  div
                    .input-group
                      input#qrcode_caption.form-control(
                        type='text',
                        placeholder='add a description'
                        disabled
                      )
                      .input-group-append
                        button#btn_update_caption.btn.btn-outline-secondary(type='button')
                          i.fas.fa-pen
                  div
                    span.text-secondary
                      small 20 character or less
                  div.my-1.form-check.mt-1
                    input#checkbox_qrcode_logo.form-check-input(
                      type='checkbox'
                      name='qrcode_logo'
                    )
                    label.ml-2.form-check-label(for='checkbox_qrcode_logo') Add ZaiGeZaiGu logo
              div.d-flex.justify-content-between.align-self-center
                div#owner
                  if author
                    span Owner: #{author}
                  else
                    span Owner: Anonymous
                div.btn-group
                  a.btn.btn-outline-secondary.btn-sm(href='/qr/d/fake_qr.png')
                    i.fas.fa-download
                  if editable
                    button.btn.btn-outline-primary.btn-sm(type='submit', value='Submit') Claim the link
                  if !loggedIn && !editable && author == 'anonymous'
                    a.btn.btn-outline-primary.btn-sm(href='/login') Login to claim the link
