extends layout

block content
  .main.d-flex.flex-column.justify-content-center.h-100
    .row
      .col-lg-6.offset-lg-3.col-md-8.offset-md-2
        div.card.shadow
          div.card-header.bg-light.border-bottom-0.text-center
            if msg
              h5
                if msgType
                  i.fas.fa-check-circle.text-lg.pr-2(class='text-' + msgType)
                span #{msg}
            else
              h5
                span #{title}
          div.card-body.bg-light.pt-0
            form.p-2(method='POST' action='/edit')
              div.form-group
                label(for='dest') Long Url
                .input-group
                  input#dest.form-control(
                    type='text',
                    value= oldDest,
                    name= "dest"
                    disabled=oldDest ? true : false
                  )
                  .input-group-append
                    button#btn_updatet_short_url.btn.btn-outline-secondary(type='button')
                      i.fas.fa-pen
              div.form-group
                label(for='linkname') Short Url
                .input-group
                  .input-group-prepend
                    span.input-group-text.text-primary #{siteHost}/
                  input#linkname.text-primary.form-control(
                    type='text',
                    name='linkname'
                    disabled=oldDest ? true : false
                    placeholder= "Input the short url here"
                    value= linkname,
                  )
                  .input-group-append
                    button#btn_copy_short_url.btn.btn-primary(type='button' style="width:120px") Copy URL

              .qr-code-section.d-flex.my-2
                div
                  if oldDest
                    img#qr_code.border(src= "/qr/" + linkname + '.png')
                  else
                    div#qr_code.border.bg-white
                div.ml-3.flex-grow-1
                  div
                    .input-group
                      input#qrcode_caption.form-control(
                        type='text',
                        placeholder='add a description'
                        disabled=oldDest ? true : false
                        name='caption'
                        value=caption
                      )
                      .input-group-append
                        button#btn_update_caption.btn.btn-outline-secondary(type='button')
                          i.fas.fa-pen
                  div
                    span.text-secondary
                      small 20 character or less
                  div.my-1.form-check.mt-1
                    input#checkbox_qrcode_logo.form-check-input(
                      type='checkbox'
                      name='addLogo'
                      checked=addLogo
                      disabled = oldDest ? true : false
                    )
                    label.ml-2.form-check-label(for='checkbox_qrcode_logo') Add ZaiGeZaiGu logo
                  div
                    a.btn.btn-outline-secondary.btn-sm(href='/qr/d/' + linkname + '.png') Download
              div.d-flex.justify-content-between.align-self-center
                div#owner
                  if author
                    span Owner: #{author}
                  else
                    span Owner: Anonymous
                div.btn-group
                  if !oldDest
                    button.btn.btn-primary.btn-sm(type='submit', value='Submit') Create
                  else
                    if isEditable
                      button.btn.btn-outline-primary.btn-sm(type='submit', value='Submit') Update
                    if author === 'anonymous' && !loggedIn
                      a.btn.btn-outline-primary.btn-sm(href='/login' style="width:120px") Login to claim

