extends layout

block content
    br
    h2 MyLinks
    pre #{user.emails[0].value}
    if (links.length)
        table.table
            thead
                tr
                    th Link Name
                    th Destination
                    th Owner Email
                    th Action
            tbody
                each link in links
                    tr
                        td
                            a(href=link['linkname']) #{link['linkname']}
                        td #{link['dest']}
                        td #{link['author']}
                        td
                            a.btn.btn-primary(href="/edit/" + link['linkname']) Edit

    else
        h1 You don't have any links
    a.btn.btn-primary(href="/edit") Create More